@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  padding-top: 40px !important;
}
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url(./img/bg-img1-darkened15.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-darker {
  background: #222 !important;
}

.google-calendar {
  max-height: 70vh;
  min-height: 400px;
  max-width: 90vw;
}

.bg-img-2 {
  background: url('./img/bg-img2.png') center center/cover;
}

nav a {
  cursor: pointer !important;
}

.modal a {
  color: #333 !important;
  font-size: 1.2rem;
}

.vertigo {
  font-family: 'Permanent Marker' !important;
}
