/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  background: #222;
  color: #fff;
  overflow: auto;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.4rem;
}

h1,
h2,
h3 {
  padding: 2rem 0;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

.btn {
  background: #f4f4f4;
  color: #222;
  padding: 10px 20px;
  margin: 1rem;
  border-radius: 5px;
}

.btn:hover {
  background: #aaa;
  transition: 0.4s ease;
}

/* Navbar */
#main-nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #222;
  opacity: 0.95;
  z-index: 2;
  border-bottom: 1px solid #000;
}

#main-nav #logo {
  width: 50px;
  height: 50px;
  padding: 0.5rem;
  margin: 0.5rem;
  background: #000;
  border-radius: 50%;
}

#main-nav ul {
  display: flex;
  margin: 0.5rem;
}

#main-nav ul li {
  padding: 0.7rem;
  margin: 0 1rem;
}

#main-nav ul li:hover {
  text-decoration: underline;
  color: red;
  transition: 0.4s ease;
}

/* Welcome section */
#home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url(./img/bg-img2.jpeg) center center/cover;
}

#home::after {
  content: '';
  background: rgba(55, 55, 55, 0.7);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
}

#home h1,
#home p,
#home a {
  z-index: 1;
}

#home p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

/* About section */
#about {
  display: grid;
  margin: 2rem 2rem 1rem;
  padding-top: 4.5rem;
  gap: 1.5rem;
  justify-content: center;
  align-items: top;
  grid-template-areas:
    'info video'
    'info video'
    'members members'
    'quote quote';
}

#about #about-info {
  grid-area: info;
}

#about #video {
  grid-area: video;
  padding: 2rem;
}

#about #band-members {
  grid-area: members;
  padding: 1rem;
  justify-self: center;
}

#about #quote {
  grid-area: quote;
  justify-self: center;
  text-align: center;
  padding: 1rem;
}

/* Social media links */
#links {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
  opacity: 0.8;
}

#links a:hover {
  color: #aaa;
  transition: 0.4s ease;
}

/* Google calendar */
#schedule {
  padding-top: 4.5rem;
  margin: 2rem;
  text-align: center;
}

#schedule iframe {
  border: solid 1px #777;
  width: 800px;
  height: 600px;
}

/* Contact info */
#contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  font-size: 2rem;
}
#contact a {
  margin: 1rem;
}

#contact a:hover {
  color: #aaa;
  transition: 0.4s ease;
}

/* Footer */
#main-footer {
  text-align: center;
  font-size: 10px;
  background-color: #111;
  color: #ccc;
  padding: 0.3rem;
}

@media (max-width: 1080px) {
  #about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #about #about-info {
    width: 85%;
  }

  #about #about-info h2 {
    text-align: center;
  }
}

@media (max-width: 900px) {
  #about #video {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  #about #band-members {
    padding: 0;
  }
  #band-members img {
    transform: scale(0.75);
  }
  #band-members #quote {
    margin: 0;
    padding: 0;
  }
  /* ADD GOOGLE MAPS RESIZE */
}
#schedule iframe {
  width: 600px;
  height: 450px;
}

@media (max-width: 680px) {
  #video {
    transform: scale(0.75);
  }
  #band-members img {
    display: none;
  }
  #schedule iframe {
    width: 400px;
    height: 300px;
    margin: 0;
  }
}

@media (max-width: 600px) {
  body {
    background: yellow;
  }
  #logo {
    display: none;
  }
  #main-nav {
    text-align: center;
  }
  #main-nav ul li {
    padding: 0.2rem;
    margin: 0 0.3rem;
  }
  #about #about-info {
    width: 90%;
  }
  #video {
    transform: scale(0.55);
  }
  #schedule iframe {
    width: 320px;
    height: 240px;
    margin: auto;
  }
  #contact {
    font-size: 1.3rem;
  }
}
